
main {
    display: flex;
    padding: 20px;
}

.product-purchase {
    display: flex;
}

.product-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.product-details {
    margin-left: 20px;
}

.product-details h2 {
    margin-top: 0;
}

.product-info {
    margin: 20px 0;
}

.product-info div {
    margin-bottom: 10px;
}

.product-purchase {
    align-items: center;
}

.product-purchase label {
    margin-right: 10px;
}

.product-purchase select {
    margin-right: 10px;
}
